appdirs==1.4.1
automium==0.2.6
automium-web==0.1.1
click==6.7
Django==1.10.5
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
legacy==0.1.6
MarkupSafe==0.23
packaging==16.8
psycopg2==2.7
pyparsing==2.1.10
six==1.10.0
Werkzeug==0.11.15
