{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="top: -50px;">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          <img src="https://s3.ap-northeast-2.amazonaws.com/bebep/Brand/Welcome_{{common_cd}}.jpg">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        {% for class_cd in ClassCommonCode %}
            <div class="col-sm-4">
              <img src="https://s3.ap-northeast-2.amazonaws.com/bebep/Brand/{{common_cd}}_{{class_cd.common_cd}}.png" class="" style="width:100%" alt="Image">
              <p>{{ class_cd.common_cd_nm }}</p>
            </div>
        {% endfor %}
    </div>
</div><br>
 {% endblock %}
