{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="top: -50px;">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://s3.ap-northeast-2.amazonaws.com/bebep/Brand/{{brand_code}}_{{ModelCode.common_cd}}.png">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            {% for vehicle_img in VehicleImgInfo %}
                <div class="col-sm-4">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/bebep/VECHICLE_IMG/{{ vehicle_img.vh_img_id }}.JPG"
                         class="" style="width:100%" alt="Image">
                </div>
            {% endfor %}
        </div>
    </div><br>
{% endblock %}
